.addForm {
  display: flex;
  flex-direction: column;
  gap: 6px;

  width: 100%;
}

.input {
  min-height: 50px;
  padding: 5px 10px;

  font-weight: 500;
  letter-spacing: inherit;

  border: 1px solid var(--colors-link-hover);
  border-radius: 8px;

  background-color: var(--colors-ui-base);

  cursor: pointer;
}

.inputError {
  border: 1px solid var(--colorRed);
}

.error {
  height: 20px;

  color: var(--colors-error);
}

@media (min-width: 867px) {
  .addForm {
    gap: 10px;

    width: 60%;
  }

  .error {
    height: 30px;
  }
}
