.listsPage {
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;
}

@media (min-width: 867px) {
  .listsPage {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}

@media (min-width: 1024px) {
  .listsPage {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
